.solutions {
    .solution {
        &:nth-child(3) {
            margin-left: -14px;
            overflow: hidden;
        }
    }
}
.solution {
    position: relative;
    .solution__content{
        position: absolute;
        top: 45%;
        padding: 2.5rem 2rem;
        box-sizing: border-box;
      }
    .solution__icon{
        margin-bottom: 1rem;
        i {
            color: #f5ba4b;
        }
    }
    .solution__title {
        color: #fff;
        font-size: 18px;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .solution__paragraph {
        color: #cccfd2;
    }
    &.solution--bigger {
        z-index: 100;
        transform: scale(1.05);
        transform-origin: center center;
        overflow: hidden;
        margin-right: 0;
        box-shadow: 0 25px 100px -5px rgba(0,0,0,.15);
    }
}
.bg-overlay {
    position: absolute;
    top: 0;
    left: 24px;
    right: -24px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
