@import '_variables.scss';
@import '_mixins.scss';
@import '_buttons.scss';
@import '_reset.scss';

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Objective-Regular.woff2);
}

body {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
}

html, body {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

@media (min-width: 1200px){
    .container {
        max-width: 1200px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.row {
    display: flex;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    flex-wrap: wrap;
}
.bg-gray {
    background-color: $bg-light;
}
.bg-dark {
    background-color: $bg-dark;
}
.white-text {
    color: #fff;
}
.link--orange {
    color: #f5ba4b;
}
.column-6 {
    width: 50%;
}
.column-4 {
    max-width: 29%;
    flex: 0 0 30%;
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.d-flex {
    display: flex;
}
 
// navigation
@import "_navigations.scss";

// banner
@import "_banner.scss";

// landing section
@import "_langding-section.scss";

// Header variants
@import "_header-variant-section.scss";

// quote
@import "_quote-section.scss";

// feature section 
@import "_feature-section.scss";

// workflow section
@import "_workflow-section.scss";

// solution 
@import "_solution-section.scss";

// price section
@import "_price-section.scss";

// footer
@import "_footer.scss";