@import '_variables.scss';
@import '_mixins.scss';
@import '_placeholders.scss';
@import '_buttons.scss';
@import '_navigations.scss';
@import '_reset.scss';

body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}

html, body {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

@media (min-width: 1200px){
    .container {
        max-width: 1200px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.row {
    display: flex;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    flex-wrap: wrap;
}
.bg-gray {
    background-color: $bg-light;
}
.bg-dark {
    background-color: $bg-dark;
}
.white-text {
    color: #fff;
}
.link--orange {
    color: #f5ba4b;
}
.column-6 {
    width: 50%;
}
.column-4 {
    max-width: 29%;
    flex: 0 0 30%;
    position: relative;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.d-flex {
    display: flex;
}
 
// navbar 

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: background-color 0.3s;
    .navbar-content {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 1.5rem 30px;
        border-bottom: 1px solid  rgba(247, 244, 245, 0.4);
    }
    .logo {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
    .nav-item-devider {
        span {
            border-left: 1px solid #fff;
            padding: 0 0.7rem;
        }
    
    }
    .menu {
        & > .nav-item {
            &:last-child {
                &:before {
                    content: "|";
                    margin: 0 1rem;
                    color: #fff;
                }
            }
        } 
    }
    .navbar-nav {
        display: flex;
        align-items: center;
        &:first-of-type {
            // margin-right: 4rem;
        }
        &:last-of-type {
            margin-left: 10rem;
        }
        .nav-item {
            & > a {
                padding: 1rem;
                display: inline-block;
                font-size: 13px;
                text-transform: uppercase;
                @include navbarText(#fff);
                font-weight: 500;
                &.active {
                    color: #f5ba4b;
                }
                &:hover {
                    color: #f5ba4b;
                }
                .nav-item__icon--down {
                    margin-left : 5px;
                }
            }
        }
        .dropdown-menu {
            display: none;  
            position: absolute;
            z-index: 1000;
            & > .nav-item {
                a {
                    width: 200px;
                    padding: 1rem 1.5rem;
                    white-space: nowrap;
                    border-top: 1px solid rgba(0,0,0,.1);
                    border-right: 1px solid rgba(0,0,0,.1);
                    border-left: 1px solid rgba(0,0,0,.1);
                    display: inline-block;
                    background: #fff;
                    position: relative;
                    color: #000;
                    &.active {
                        color: #f5ba4b;
                    }
                    &:hover {
                        background-color: #f8f9fa; 
                    }
                    .nav-item__icon--right {
                        position: absolute;
                        right: 10%;
                    }
                }
            }
        }
    }
    .dropright {
        position: relative;
        & > .dropright-menu {
            display: none;
            position: absolute;
            z-index: 1000;
            right: -102%;
            top: 1%;
        }
    }
}
nav.fixed {
    position: fixed;
    width: 100%;
    z-index : 1000;
    background-color: #fff; 
    margin: 0;
    .logo {
        color: #000;
    }
    .menu {
        li {
            &.nav-item {
                a {
                    color: #000;
                 }
                 &:last-child {
                    &:before {
                        color: #000;
                    }
                }
            }
        }
    }
    .navbar-nav {
        li {
            a {
                &.nav-link {
                    color: #000;
                }
            }
        }
        .nav-item-devider span {
            border-left: 1px solid #000;
        }
    }
}
// banner
.banner {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: 100% 100%;
    height: 780px;
    position: relative;
    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba( 0, 0, 0, 0.3);
    }
    .banner__content {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-48%,-50%);
        text-align: center;
        & > a {
            &.d-none {
                display: none ;
            }
        }
    }
    .banner__author {
        text-transform: uppercase;
        font-size: 13px;
        color: #eee;
        margin-bottom: 40px;
        display: none;
    }
    .banner__title {
        font-size: 35px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 35px;
        display: none;
    }
    .banner__paragraph {
        color: #fff;
        line-height: 30px;
        margin-bottom: 35px;
        display: none;
    }
    // .banner__link {
    //     @include btnOutline(#fff, #fff);
    // }
}
.section {
    padding: 120px 0;
    .section__top {
        text-align: center;
        width: 45%;
        margin: 0 auto;
    }
    .section__header {
        font-size: 26px;
        font-weight: 550;
        margin-bottom: 24px;
    }
    .section__paragraph {
        color: #6c757d;
        line-height: 27px;
        word-spacing: 2px;
        margin-bottom: 3rem;
    }
}
.thumbnails {
    .thumnail {
        a {
            cursor: pointer;
            box-sizing: border-box;
            display: inline-block;
            &:hover {
                .thumbnail__img {
                    transform: translateY(-10px);
                    box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,.75);
                }
            }
            &.bg-overlay--gray {
                opacity: 0.5;
            }
        }
        .thumbnail__img {
            max-width: 100%;
            height: auto;
            transition: all .4s ease-in-out;
        }
        .thumbnail__content {
            padding: 2.5rem 2rem;
            .thumbnail__title {
                margin-bottom: 1rem;
                font-size: 18px;
            }
            .new {
                color: #fff;
                background-color: #dc3545;
                font-size: 75%;
                font-weight: 700;
                padding: .25em .4em;
                margin-left: 5px;
            }
        }
        .comming-soon {
            width: 362px;
            height: 220px;
            display: inline-block;
            background-color: #b5b4b4;
            position: relative;
            &::before {
                position: absolute;
                font-family: Font Awesome\ 5 Free;
                font-size: 26px;
                font-weight: 900;
                min-width: 2.5rem;
                content: "\f017";
                top : 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
       
    }
}

// Header variants
.line-top {
    position: absolute;
    left: 50%;
    height: 7.5rem;
    transform: translateY(-150%);
    border-left: 2px solid #f5ba4b;
}
.text-hide {
    opacity: 0;
}

// quote
.quote {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        &:before {
            font-family: Font Awesome\ 5 Free;
            font-size: 26px;
            font-weight: 900;
            line-height: 1.5;
            min-width: 2.5rem;
            content: "\f10d";
        }
        .quote__content {
            font-size: 18px;
            color: #000;
            line-height: 36px;
            margin-top: 0;
            margin-bottom: 1.5rem;
       
    }
}
// feature section 
.feature {
    text-align: center;
    .feature__icon {
        margin-bottom: 1.5rem;
        span > i {
            color: #f5ba4b;
            font-size: 25px;
        }
    }
    .feature__title {
        color: #fff;
        margin-bottom: 1rem;
    }

}
// workflow section
.workflow {
    display: flex;
    align-items: center;
}
.icon-item {
    color: #6c757d;
    margin-bottom: 1.5rem;
    line-height: 25px;
    &::before {
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        margin-right: 1em;
        content: "\f105";
        color: #f5ba4b;
    }
    a {
        margin-left: 6px;
    }
}
.workflow-left {
    margin-left: 100px;
    padding: 0 50px;
    box-sizing: border-box;
}
.btn-outline--orange {
    color: #fff;
    display: inline-block;
    padding: 18px 20px;
    border: 1px solid #f5ba4b;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
  }
.btn-outline--black {
    @include btnOutline(#000, #f5ba4b);
}
.workflow-right {
    padding-right: 100px;
    box-sizing: border-box;
    .img-effect {
        position: relative;
        padding-left: 20%;
        padding-right: 10%;
        &::before {
            position: absolute;
            top: 35%;
            right: 0;
            bottom: 15%;
            left: 0;
            z-index: -1;
            content: "";
            background-color: #f7c86f;
        }
        img {
            max-width: 100%;
            vertical-align: middle;
            z-index: 1;
            box-shadow: 0 25px 100px -5px rgba(0, 0, 0, 0.15);
        }
    }
}

// solution 
.solutions {
    .solution {
        &:nth-child(3) {
            margin-left: -14px;
            overflow: hidden;
        }
    }
}
.solution {
    position: relative;
    .solution__content{
        position: absolute;
        top: 45%;
        padding: 2.5rem 2rem;
        box-sizing: border-box;
      }
    .solution__icon{
        margin-bottom: 1rem;
        i {
            color: #f5ba4b;
        }
    }
    .solution__title {
        color: #fff;
        font-size: 18px;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .solution__paragraph {
        color: #cccfd2;
    }
    &.solution--bigger {
        z-index: 100;
        transform: scale(1.05);
        transform-origin: center center;
        overflow: hidden;
        margin-right: 0;
        box-shadow: 0 25px 100px -5px rgba(0,0,0,.15);
    }
}
.bg-overlay {
    position: absolute;
    top: 0;
    left: 24px;
    right: -24px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

// option section
.options {
    display: flex;
    justify-content: center;
    .option {
        box-sizing: border-box;
        width: 350px;
        padding: 3.5rem 2.5rem;
        border: 1px solid rgba(0,0,0,.1);
        &:first-of-type {
            border-top: 2px solid #f5ba4b;
            margin-right: 50px;
        }
        .option__title {
            font-size: 18px;
            margin-bottom: 1.5rem;
            text-align: center;
            font-weight: bold;
        }
    }
}
.option__price {
    text-align: center;
    font-size: 22px;
    color: #f5ba4b;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

//   download section
.download-section {
    display: flex;
    align-items: center;
    justify-content: center;
    .section__left  {
        margin-right: 25px;
        width: 65%;
    }
    .section__paragraph {
        margin-bottom: 0;
    }
}

// footer
footer {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.footer__left {
    p {
        margin-bottom: 1.5rem;
    }
    .logo {
        font-size: 22px;
        color: #fff;
        font-weight: bold;
    }
    .copyright {
        color: #b5b4b4;
    }
}
.footer__right {
    .menu__footer {
        display: flex;
        margin-bottom: 1.5rem;
        li {
            a {
                color: #fff;
                padding: 0 8px;
            }
        }
    }
    .navbar-nav {
        display: flex;
        justify-content: flex-end;
        &:first-of-type {
            margin-right: 4rem; 
        }
        &:last-of-type {
            margin-left: 4rem; 
        }
        .nav-item {
            a {
                padding: 1rem;
                display: flex;
                font-size: 13px;
                text-transform: uppercase;
                color: #f5ba4b; 
            }
        }
    }
}