doctype html
html(lang="en")
    head
        include pug/head.pug
        include pug/mixins.pug
        include pug/variables.pug
    body
        include pug/body.pug
        include pug/footer.pug
        include pug/script.pug
