section.banner
    .bg-overlay
    .banner__content
        p.banner__author  by Simpleqode
        h2.banner__title Landing pages for any occasion
        p.banner__paragraph Incline is set of landing and support pages aimed at helping companies promote new products and business launches.
        a.btn-outline--orange(href="#") purchase now