footer.bg-dark
            .container
                .footer-content
                    .footer__left   
                        p
                            a.logo(href="#") incline
                        p.copyright © Copyright 2019 Simpleqode. All rights reserved.
                    .footer__right
                        ul.menu__footer
                            li
                                a(href="#") Terms and conditions
                            li
                                a(href="#") Privacy policy
                            li
                                a(href="#") Contact us
                        ul.navbar-nav
                            li.nav-item
                                a.nav-link(href="#")
                                    i(class="fab fa-github")
                            li.nav-item
                                a.nav-link(href="#")
                                    i(class="fab fa-twitter")
                            li.nav-item
                                a.nav-link(href="#")
                                    i(class="fab fa-instagram")