-
  var menus = [
    {
        name : "welcome",
        url  : "welcome.html",
        active : true,
        submenu : [
            {
                name : "Header : Image"
            },
            {
                name : "Header : Image"
            },
            {
                name : "Header : Image"
            },
            {
                name : "Header : Image"
            }
        ]
    },
    {
        name : "Langdings",
        url  : "langding.html",
        active : false,
        submenu : [
            {
                name : "App"
            },
            {
                name : "Company"
            },
            {
                name : "Header : Image"
            },
            {
                name : "Header : Image"
            }
        ]
    },
    {
         name : "page",
          url  : "page.html",
          active : false,
        submenu : [
            {
                name : "Header : Image",
                subrights :  [
                            {
                                name : "Blog",
                            },
                                {
                                name  : "Post"
                            }
                        ]
            },
            {
                        name : "Header : Image",
                        subrights :  [
                                {
                                name : "Blog",
                            },
                                {
                                name  : "Post"
                            }
                        ]
                    },
            {
                name : "Company"
            },
            {
                name : "Header : Image"
            },
            {
                name : "Header : Image"
            }
        ]
    },
    {
        name : "component",
        url  : "component.html",
        active : false,
        submenu : [
            {
                name : "Header : Image",
                subrights :  [
                            {
                                name : "Blog 1",
                            },
                                {
                                name  : "Post 1"
                            }
                        ]
            },
            {
                        name : "Header : Image",
                        subrights :  [
                                {
                                name : "Blog 2",
                            },
                                {
                                name  : "Post 2"
                            }
                        ]
                    },
            {
                name : "Company"
            },
            {
                name : "Header : Image"
            },
            {
                name : "Header : Image"
            }
        ]
    },
    {
        name : "document",
        url  : "document.html",
        active : false,
    },
    {
        name : "purchase now",
        url  : "purchasement.html",
        active : false,
    },
   ];  
   

                                            
+navlist()