nav.navbar
            .container
                .navbar-content
                    a.logo(href="#") incline
                    .navbar-collapse.d-flex    
                        ul.navbar-nav.d-flex
                            li.nav-item-devider
                                span
                            li.nav-item
                                a.nav-link(href="#")
                                    i(class="fab fa-github")
                            li.nav-item
                                a.nav-link(href="#")
                                    i(class="fab fa-twitter")
                            li.nav-item
                                a.nav-link(href="#")
                                    i(class="fab fa-instagram")
                    include nav.pug