section.section
    .container
        .quote
            blockquote.quote__blockquote
                p.quote__content This theme is a Swiss Army knife of Bootstrap themes. Built with components in mind, it can be easily adjusted to create layouts of any complexity within a few minutes.
                span.quote__author Yuri Gamin, Moscow