- var items = { welcome : 'Welcome', landings: 'Landings', pages: 'pages', components : 'components', documentation : 'documentation', purchase : 'purchase now' };
- var icons = {  github: 'fa-github', twitter : 'fa-twitter', instagram: 'fa-instagram'};
- var welcomeDropdown =  { image : "Header : image", carousel: "Header : carousel", parallax : "Header : parallax", video : "Header : video"};
- var langdingDropdown =  ["app", "company", "fullpage", "product", "real estate", "restaurant", "service"];
- var pageDropdown =  ["app", "company", "fullpage", "product", "real estate", "restaurant", "service"];
- var componentsDropdown =  ["app", "company", "fullpage", "product", "real estate", "restaurant", "service"];
